{#header.twig#}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="applicable-device" content="pc,mobile">
</head>
<body>